<%= form_for @book do %>
  <input type="text" name="title" value="<%= @book.title %>" />
  <p class="wrong"> <%= @book.errors[:title].first %> </p>

  <select name="category_id">
    <% if @book.persisted? %>
      <option value="<%= @book.category.id %>"> <%= @book.category.name %> </option>
      <% @categories.each do |category| %>
        <% unless category.id == @book.category.id %>
          <option value="<%= category.id %>"> <%= category.name %> </option>
        <% end %>
      <% end %>
      </select>
      <input type="submit" value="Modifier le livre" />
    <% else %>
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"> <%= category.name %> </option>
      <% end %>
      </select>
      <input type="submit" value="Ajouter le livre" />
    <% end %>
<% end %>

