<!DOCTYPE html>
<html>
  <head>
    <title>Castor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="dis-connect">
      <% if @current_user %>
        <p> <a href="/users/logout">Se déconnecter</a> </p>
      <% else %>
        <p> <a href="/users/login">S'identifier</a> </p>
      <% end %>
    </div>

    <div class="flash">
      <div class="wrong">
        <%= flash[:failure] %>
        <%= flash[:error] %>
      </div>
      <div class="right">
        <%= flash[:success] %>
      </div>
      <div class="info">
        <%= flash[:info] %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
